.navbar{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
*{
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    color: black;
    font: small-caption;
    font-size: small;
    margin: 20px;
    letter-spacing: 1px;
    
    
  
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 29px;
    font-weight: 800;  
    letter-spacing: 3px;
    padding-left: 35px;
}
.menu{
    padding-right: 30px;
    display: flex;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.searchic{
    font-size: 15px;
    border: none;
    padding: 0;
    background-color: white;
   
}
.cartic{
    font-size: 15px;
    border: none;
    padding-left: 0px;
    background-color: white;    
}
.button{
    
    letter-spacing: 16px;
    padding-right: 100px;
    
}
.button button{
    font-size: 18px;

}
.heart{
    border: none;
    background-color: white;
}
.main{
    display: flex;
}
.menubuttons{
    border: none;
    background-color: white;
}
ul li a:hover{
    color:blue;
}
.clothesimg{
    width: 100%;
}
.lastimg{
    width: 48%;
    
    

}
.midpage{
    padding: 130px;
    border: 100px black;
}
.about{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 29px;
    font-weight: 800;  
    letter-spacing: 3px;
    padding-left: 52%;
    height: 80px;
    width: 40%;
    
}
.aboutbut{
    background-color:white;
    color: white;
    padding: 20px;
    letter-spacing: 1px;
    text-decoration: none;

}
.aboutbut :hover{
    background-color: black;
    color: white;
}
.servicesbut{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.aboutbutc{
    text-decoration: none;
    color: white;
}
.aboutbutcd{
    background-color:black;
    color: white;
    width:  160px;
    padding: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    border-collapse: 10px;
}
.aboutbutton{
    display: inline-block;
    color: black;
    font: small-caption;
    font-size: small;
    margin: 20px;
    letter-spacing: 1px;

    
}


.metnpage{
    display: flex;
    padding-left: 550px;
    color: gray;
    font-family: Poppins,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .05em;
    
    
    
}